body{
    background-color: #35393C;
    color: blanchedalmond;
}

#panelDeBotones {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5px;
}

.boton {
    display: inline-block;    
    padding: 15px;
    margin: 5px;
    text-align: center;
    background-color: #6B8F71;
    color: #07004D;
    border-radius: 5px; 
    text-decoration: none;  
    font-size: 150%; 
}

.boton:hover {
    background-color: #cd2727;
}

.h1 {
    padding-top: 2%;
    text-align: center;
    color: blanchedalmond;
}

#miFormulario {
    background-color: #6b8f71;
    width: 100%; 
    max-width: 600px; 
    padding: 20px; 
    margin: auto; 
    border: 2.5px solid #000000; 
    border-radius: 10px; 
    box-sizing: border-box;
}

#miFormulario input[type="text"],
#miFormulario input[type="number"],
#miFormulario select,
#miFormulario input[type="submit"] {
    color: #07004D;
    background-color: #AAD2BA;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box; 
    font-size: 15px;  
    font-style: oblique;
    font-weight: 800;
}

#miFormulario input[type="submit"]{
    border-radius: 20px;
    max-width: 150px;
    max-height: 50px;
    color: #955f31;
    background-color: blanchedalmond;
}

#ListaDeMarcas option:nth-child(even) {
    background-color: #B9F5D8; 
    color: #4F3130;
    font-weight: lighter;
}

#ListaDeMarcas option:nth-child(odd) {  
    background-color: #D9FFF5; 
    color: #4F3130;
    font-weight: lighter;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}

label {
    font-weight: bold;
    font-size: 20px;
}


@media screen and (max-width: 600px) {
    #miFormulario {
        width: 100%;
        margin: auto;
    }
    .boton {
        width: 100%;
    }
}
